<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ entry.title }}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
{% block scene %}{% endblock %}
{% block scripts %}
    <script src="/js/vendors/threejs/three.min.js"></script>
    <script src="/js/vendors/threejs/stats.min.js"></script>
    <script src="/js/vendors/threejs/Detector.js"></script>
    <script src="/js/views/viewers/main.js"></script>
{% endblock %}
</body>
</html>