<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ entry.title }}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
{% block scene %}{% endblock %}
{% block scripts %}
    <script id="vertexShader" type="x-shader/x-vertex">
        varying vec2 vUv;
        void main(){
            vUv = uv;
            gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
        }


    </script>
    <script id="fragmentShader" type="x-shader/x-fragment">
			varying vec2 vUv;
			uniform float time;
			float r, g, b, d;
			vec4 c;
			uniform vec3 starColor;

			void main()	{
				vec2 p = - 1.0 + 2.0 * vUv;
				d = sqrt(((p.x*p.x) + (p.y*p.y))) *8.0;

				r = starColor[0]-d;
				g = starColor[1]-d;
				b = starColor[2]-d;

                float l = mod(time + p.x, 20.0) < 10.0 ? 1.0 : 0.0;
                r= r + l;
                g= g + l;
                b= b + l;

				gl_FragColor = vec4(r, g, b, 0.4);
			}


    </script>
    <script src="/js/vendors/threejs/three.min.js"></script>
    <script src="/js/vendors/threejs/stats.min.js"></script>
    <script src="/js/vendors/threejs/Detector.js"></script>
    <script src="/js/vendors/threejs/systemControls.js"></script>
    <script src="/js/views/viewers/main.js"></script>
{% endblock %}
</body>
</html>