<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ entry.title }}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
{% block ui %}
    <div id="editor">
        {% if entry is defined %}
            {% if entry.isEditable() and not craft.app.request.isLivePreview %}
                <a href="{{ entry.cpEditUrl }}" class="editorLink">Edit entry</a>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
{% block scene %}{% endblock %}
{% block scripts %}
    <script id="vertexShader" type="x-shader/x-vertex">
        varying vec2 vUv;
        varying vec3 vPos;
        uniform float timer;
        uniform float planetRadii[9];
        uniform float planetPositionsX[9], planetPositionsY[9];

        void main(void){
            vUv = uv;
            vec2 p = -1.0 + 2.0 * vUv;
            float d = sin(sqrt(((p.x*p.x) + (p.y*p.y))));

            {# Sun #}
            vec3 newPos = position + vec3(0, 0, d*1000.0 - 500.0);

            {# Orbits #}
            for(int i=0;i<9;i++){
                float plx = planetPositionsX[i] / 5000.;
                float ply = planetPositionsY[i] / 5000.;
                float p1 = (plx-p.x);
                float p2 = (ply-p.y);
                float pld = (p1*p1+p2*p2) * 30.;
                if(pld < planetRadii[i] / 500. ){
                    newPos = newPos + vec3(0,0,(pld * planetRadii[i]*10.-planetRadii[i]*2. ));
                }
            }

            vPos = newPos;
            gl_Position = projectionMatrix * modelViewMatrix * vec4( newPos, 1.0 );
        }


    </script>
    <script id="fragmentShader" type="x-shader/x-fragment">
			varying vec2 vUv;
			uniform float timer;
			float r, g, b, a, d;
			uniform vec3 starColor;
			uniform float planetOrbitalDistances[9], planetRadii[9];
			uniform float planetColorsR[9], planetColorsG[9], planetColorsB[9];
            uniform float planetPositionsX[9], planetPositionsY[9];

			void main()	{
				vec2 p = -1.0 + 2.0 * vUv;
				d = sqrt(((p.x*p.x) + (p.y*p.y)))*4.0;

                {# Solar glow #}
				r = starColor[0] - d;
				g = starColor[1] - d;
				b = 0.5 + starColor[2] - ((d/5.0)*2.0)/3.0;
				a = (1.0 - d / 4.) / 1.75;

                {# Grid sublines #}
                if((sin(p.x*500.+timer*3.) > -0.05 && sin(p.x*500.+timer*3.) < 0.05) || (sin(p.y*500.+timer*3.) > -0.05 && sin(p.y*500.+timer*3.) < 0.05)){
                    r = starColor[0] - (d/4.);
                    g = starColor[1] - (d/4.);
                    b = starColor[2] - (d/4.);
                }

                {# Grid Bold #}
                if((sin(p.x*50.) > -0.01 && sin(p.x*50.) < 0.01) || (sin(p.y*50.) > -0.01 && sin(p.y*50.) < 0.01)){
                    r = starColor[0] + (d/6.);
                    g = starColor[1] + (d/6.);
                    b = starColor[2] + (d/6.);
                }


                {# Planets #}
                for(int i=0;i<9;i++){
                    {# Orbits #}
                    float t = planetRadii[i]/3.;
                    float plx = planetPositionsX[i]/5000.;
                    float ply = planetPositionsY[i]/5000.;
                    float p1 = plx - p.x;
                    float p2 = ply - p.y;
                    float pld = sqrt(p1*p1 + p2*p2)*20.;
                    float c = sin(pld*4.-timer*240.);

                    if(d*1260. + t > planetOrbitalDistances[i] && d*1260. - t < planetOrbitalDistances[i]){
                        if(c > 0.3) {
                            r = r/5. + planetColorsR[i]*c;
                            g = g/5. + planetColorsG[i]*c;
                            b = b/5. + planetColorsB[i]*c;
                        } else {
                            r = r/5. + planetColorsR[i]/5.;
                            g = g/5. + planetColorsG[i]/5.;
                            b = b/5. + planetColorsB[i]/5.;
                        }
                    }

                    {# Shadow #}
                    if(pld < planetRadii[i]/150.){
                        r= planetColorsR[i]/5. + r/5.;
                        g= planetColorsG[i]/5. + g/5.;
                        b= planetColorsB[i]/5. + b/5.;
                    }
                }

                if (b < 0.072) b = 0.072;
				gl_FragColor = vec4(r, g, b, a);
			}


    </script>
    <script src="/js/vendors/threejs/three.min.js"></script>
    <script src="/js/vendors/threejs/stats.min.js"></script>
    <script src="/js/vendors/threejs/Detector.js"></script>
    <script src="/js/vendors/threejs/systemControls.js"></script>
    <script src="/js/views/viewers/main.js"></script>
{% endblock %}
</body>
</html>